body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* Apply styles to the map container if you have one, or directly to the ReactMapGL component */
  .mapboxgl-map {
    position: relative;
    width: 100%;
    height: 100%;
  }
  /* Optionally style the Mapbox attribution to ensure it doesn't overlap with your content */

  
  .mapboxgl-ctrl-logo,
  .mapboxgl-ctrl-attrib {
    margin: 0;
    padding: 1px; /* Adjust the padding as needed */
  }
  /* // Add the CSS for the simple marker in your NextPage.css */
  @keyframes growFade {
    0% {
      transform: scale(0.5); /* Start smaller */
      opacity: 0;
    }
    50% {
      opacity: 1; /* Reach full visibility */
    }
    100% {
      transform: scale(2); /* End larger but limit growth */
      opacity: 0; /* Fade out completely */
    }
  }
  
  .marker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px; /* Initial size */
    height: 20px; /* Match initial size */
    transform: translate(-50%, -50%); /* Centering the container */
  }
  
  .simple-marker {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(168, 25, 6, 0.7);
    width: 100%; /* Adapt to container size */
    height: 100%; /* Adapt to container size */
    animation: growFade 6s infinite;
    transform-origin: center;
  }
  
  .clickable-center {
    position: absolute;
    width: 10px; /* Static center size */
    height: 10px; /* Static center size */
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  



  /* Style the container */
#geocoder {
  /* Example: Add some padding around the geocoder */
  padding: 1px;


  /* Any other styles you want for the container */
}

/* Style the geocoder input field */
.mapboxgl-ctrl-geocoder {

  background-color: #0D141F;


  z-index: 1;
  border-radius: 4px;
  transition: width .25s, min-width .25s;
}
.mapboxgl-ctrl-geocoder--input {
   /* fallback */
  color: #fff;

}
.mapboxgl-ctrl-geocoder--input:focus { /* fallback */
  color: #fff;
  outline: 0;
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder .suggestions {
  background-color:#0D141F;
  
}
.mapboxgl-ctrl-geocoder .suggestions > li > a {
  color: #Fff;
}
.mapboxgl-ctrl-geocoder .suggestions > .active > a,
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  color: #C2F3FF;
  background-color:#111A27;
}
.mapboxgl-ctrl-geocoder--icon {
  fill:#ffffff;
}
.mapboxgl-ctrl-geocoder--button {
  background:#0D141F;
}
.mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
  fill: #ffffff;
}


.overlay-container {
  pointer-events: none;
}

.overlay-container * {
  pointer-events: auto;
}

/* ALL TOGGLE ARE THE TOGGLE BUTTONS INSIDE THE CENTER NAV BAR */


.toggle-container {
  position: absolute;
  top: 20px;
  right: 60px;
  padding: 10px;
  background-color: #ffffff00;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 8px;
  display: flex;
  z-index: 200;
  
}

.toggle-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
  background: #4BD763;
}

.toggle-checkbox:checked + .toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.toggle-label:active:after {
  width: 28px;
}

/* nextpage.css */

.toggle-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 60px;
  height: 34px;
  background-color: #ccc; /* Off state background */
  border-radius: 34px;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.toggle-switch.on {
  background-color: #2196F3; /* On state background */
}

.toggle-slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle-switch.on .toggle-slider {
  transform: translateX(26px); /* Move slider to the right */
}

/* Label style (Optional) */
.toggle-label {
  margin-left: 75px;
  color: #ff44ff;
  font-weight: bold;
}

.fire-event-pixel {
  width: 10px;
  height: 10px;
  background-color: #ff3341;
  border-radius: 50%;
  position: 'absolute';

}