body {
  margin: 0;
  background: linear-gradient(to bottom right,rgb(12, 18, 54),rgb(4, 11, 50));
  background-repeat: no-repeat;
  height: 600px;

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
