@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8f8f9;
    font-size: 18px;
    font-weight: 600;
}

.checkbox-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	user-select: none;
	& > * {
		margin: .5rem 0.5rem;
	}
}



.checkbox-group-legend {
	font-size: 1.5rem;
	font-weight: 700;
	color: #ff0404;
	text-align: center;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}

.checkbox-input {
	// Code to hide the input
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	&:checked + .checkbox-tile {

		border-color: #CE2C31;
		box-shadow: 0 5px 10px rgba(#000, 0.1);
		color: #ffff00;
		&:before {
			transform: scale(1);
			opacity: 1;

			background-color: #111A27;
			border-color: #CE2C31;
		}
		
		.checkbox-icon, .checkbox-label {
			color: #ffffff;
			font-size: 15px;
			font-weight: 600;

		}
	}
	
	&:focus + .checkbox-tile {

		border-color: #CE2C31;

		// box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #391714;
		&:before {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.checkbox-tile {
    font-size: 14px;

    font-weight: 200;
	display: flex;
	flex-direction: row;
	gap: 10px;

	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 4rem;
	border-radius: 0.5rem;

	border: 2px solid #112840;
	background-color: #111A27;

	box-shadow: 0 5px 10px rgba(#000, 0.1);
	transition: 0.15s ease;
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		border: 2px solid #e54d2e;
		background-color: #0D141F;
		border-radius: 50%;
		top: 0.25rem;
		left: 0.25rem;
		opacity: 0;
		transform: scale(0);
		transition: 0.25s ease;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
		background-size: 12px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&:hover {

		border-color: #CE2C31;
		&:before {
			transform: scale(1);
			opacity: 1;
		}
        // .checkbox-label {
        //     color: #10dbff;
        //     transition: .375s ease;
        //     text-align: center;
        // }   
	}
}


.checkbox-icon1 {
	transition: .375s ease;
	color: #C2F3FF;
	svg {
		width: 1.8rem;
		height: 1.8rem;
	}

}
.checkbox-icon2 {
	transition: .375s ease;
	color: #C2F3FF;
	svg {
		width: 2rem;
		height: 2rem;
	}

}
.checkbox-icon3 {
	transition: .375s ease;
	color: #C2F3FF;
	svg {
		width: 2rem;
		height: 2rem;
	}

}

.checkbox-label {
	color: #C2F3FF;
	transition: .375s ease;
	text-align: center;
}


  
  .checkbox-wrapper {
    display: flex;
    align-items: center; /* Align checkbox and content vertically */
    gap: 10px; /* Spacing between checkbox and content */
  }
  
  .checkbox-content {
    display: flex;

    flex-direction: row; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: flex-start; /* Align content to the start (left) */
  }

  .checkbox-title {
    font-weight: bold; /* Example style */
  }
  
  .checkbox-description {
    font-size: smaller; /* Example style */
  }
  

