@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Reset */
button,
fieldset,
input {
  all: unset;
}

.TabsRoot {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 420px;
  max-width: 100%;
  min-height: 90vh;
  margin: 0 ;
  margin-bottom: 60px;
 
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--black-a4);
  
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid var(--mauve-6);
}

.TabsTrigger {
  font-family: inherit;
  background-color: white;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: var(--mauve-11);
  user-select: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.TabsTrigger:first-child {
  border-top-left-radius: 26px;
}

.TabsTrigger:last-child {
  border-top-right-radius: 26px;
}

.TabsTrigger:hover {
  background-color: rgb(216, 238, 255);
}

.TabsTrigger[data-state='active'] {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  border: none;  
}

.TabsTrigger:focus {
  position: relative;
}

.TabIcon {
  margin-right: 5px;
  vertical-align: middle;
}

.TabsContent {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  outline: none;
  overflow: hidden;
}

.Text {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Fieldset {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Label {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 10px;
  color: var(--violet-12);
  display: block;
}

.Input {
  flex: 1 0 auto;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
  transition: box-shadow 0.3s ease;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}

.Button.green:hover {
  background-color: var(--green-5);
}

.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

/* Responsive Styles */

@media screen and (max-width: 480px) {
  .TabsRoot {
    top:50;
    width: 100%;
    max-width: none;
    border-radius: 0;
    box-shadow: none;
  }

  .TabsContent {
    border-radius: 0;
  }
}